 <script src="/js/registerProf.js"></script>
<% if (array.length > 0) { %>
<div>
  <div class="font-medium mt-3 bolder"><%= title %></div>
  <% array.forEach(rubro => { %>
    <div class="form-check">
    <label class="form-check-label" for="<%= rubro %>"> <%= rubro %> </label>
    <input
      id="<%= rubro %>"
      class="form-check-input"
      name="<%= name %>"
      type="checkbox"
      value="<%= rubro %>"
      <%= locals.rubrosData && rubrosData.includes(rubro) ? "checked" : null  %>               
    />
    <span class="error"></span>
  </div>
  <% }) %>
</div>
<% } %> <% if (locals.errors && errors.rubro) { %>
<div class="error-msg"><%= errors.rubro.msg %></div>
<% } %>
