<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
      <div class="fx justify-center align-center fx-column">
        <div class="w-100 fx justify-sp-a">
          <div class="fx-grow-90">
            <h2 class="m-3 font-medium">Bandeja de Entrada</h2>
          </div>
          <div class="fx justify-center mt-3 fx-grow-10">
            <button class="budg-res-btn br-10 font-small bolder">
              <a href="/budget/request">Nueva Solicitud</a>
            </button>
          </div>
          <% profBudgets.forEach(function(budget){ %>
        </div>
        <div class="bg-white w-90 fx fx.wrap align-center br-5">
          <div class="fx justify-center w-20">
            <img src="/images/profilePic.svg" alt="" class="foto-prof" />
          </div>
          <div class="fx align-center justify-center w-60 mt-3">
            <ul class="w-90">
              <li class="font-small bolder"><%= budget.tituloSolicitud %></li>
              <li class="font-medium"><%= budget.detalleSolicitud %></li>
            </ul>
          </div>
          <div class="text-right mt-3">
            <ul>
              <li class="font-xsmall">01/06/2022</li>
              <li class="font-xsmall">11:30 AM</li>
              <li class="font-medium bolder">$ 5000</li>
            </ul>
          </div>
          <div>
            <button>
                <a href="/budget/response/<%= budget.reqId %>">
                    Enviar Presupuesto </a>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </main>

    <%- include('./partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>