<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
        <div class="fx justify-center align-center budget-direction ">
            
            <div class="grey-opacity budget-req budg-req-desk ">
                <h2 class="text-center bolder mb-3">Pedido del cliente: <%= userToShow.name %> <%= userToShow.lastName %>  </h2>
                <section>
                    <div class="mb-3 align-center">                    
                        <p class="mr-3 font-medium">Título del trabajo</p>
                        <p class="form-control"><%= budgetToShow.tituloSolicitud %></p>
                    </div>
                    <div class="mb-3">
                        <p class="mr-3 form-label font-medium">Descripción del trabajo</p>
                        <p class="form-control"><%= budgetToShow.detalleSolicitud  %></p>
                    </div>
                    <div class="mb-3 align-center">                    
                        <p class="mr-3 font-medium">Categoría</p>
                        <p class="form-control"><%= budgetToShow.rubroNombre  %></p>
                    </div>                    
                    <div class="mb-3">                   
                        <p class="form-label font-medium">Imágenes de referencia</p>
                        <% img.map(img => { %>
                            <a target="_blank" href="/images/budgetRequest/<%= img %>">
                                <img class="thumbnail" src="/images/budgetRequest/<%= img %>">
                            </a>
                        <% }) %>
                    </div>  
                    <div class="mb-3">
                        <p class="font-medium">Cuándo necesitas realizarlo:</p>
                        <p class="form-control"><%= budgetToShow.urgenciaTrabajo  %></p>
                    </div>
                    <div>
                        <p class="mr-3 budg-txt font-medium">Ubicación</p>
                        <p class="form-control"><%= budgetToShow.ubicacion  %></p>                        
                    </div>                                           
                </section>
            </div>

            <div class="grey-opacity budget-req desk-size">
                <h2 class="text-center bolder mb-3">Presupuesto Profesional</h2>

                <form action="/budget/response/<%= budgetToShow.id %>" method="POST">
                    <div class="mb-3">
                            <div>
                                <label for="materiales" class="mr-3 form-label font-medium">Materiales</label>
                                <textarea 
                                class="form-control <%= locals.errors && errors.materiales ? 'is-invalid' : null%>"
                                name="materiales"
                                id="materiales" 
                                rows="3" 
                                placeholder="Detalle los materiales a  para este tipo de trabajo"
                                ><%= locals.oldData ? oldData.materiales : null %></textarea>

                                <% if (locals.errors && errors.materiales) { %>
                                <div class="error-msg"><%= errors.materiales.msg %></div>
                                <% } %>
                            </div>  
                                <label for="precioMateriales" class="mr-3 form-label total-title">$</label>
                                <input 
                                type="text" 
                                class="form-control total-price <%= locals.errors && errors.precioMateriales ? 'is-invalid' : null%>" 
                                name="precioMateriales" 
                                id="precioMateriales"
                                value="<%= locals.oldData ? oldData.precioMateriales : null %>"
                                />
                                <% if (locals.errors && errors.precioMateriales) { %>
                            <div class="error-msg"><%= errors.precioMateriales.msg %></div>
                                <% } %>
                    </div>
    
                    <div class="mb-3 ">
                        <label for="manoDeObra" class="mr-3 form-label font-medium">Mano de Obra</label>
                        <textarea class="form-control <%= locals.errors && errors.manoDeObra ? 'is-invalid' : null%>"
                         name="manoDeObra" 
                         id="manoDeObra" 
                         rows="3" 
                         placeholder="Detalle la cantidad y especialidad de los profesionales necesarios para este tipo de trabajo"
                        ><%= locals.oldData ? oldData.manoDeObra : null %></textarea>
                        <% if (locals.errors && errors.manoDeObra) { %>
                            <div class="error-msg"><%= errors.manoDeObra.msg %></div>
                          <% } %>

                        <label for="precioManoObra"
                        class="mr-3 form-label total-title">$</label>
                    
                        <input type="text"
                         class="form-control total-price <%= locals.errors && errors.precioManoObra ? 'is-invalid' : null%>" 
                         name="precioManoDeObra" 
                         id="precioManoDeObra"                         
                         value="<%= locals.oldData ? oldData.precioManoObra : null %>"
                        />
                        <% if (locals.errors && errors.precioManoObra) { %>
                            <div class="error-msg"><%= errors.precioManoObra.msg %></div>
                          <% } %>
                    </div>
                    
                    <div class="mb-3">
                        <label for="duracionTrabajo" class="mr-3 form-label font-medium">Duración estimada (en horas)</label>
                        <input type="text"
                         class="form-control <%= locals.errors && errors.duracionTrabajo ? 'is-invalid' : null%>" 
                         name="duracionTrabajo" 
                         id="duracionTrabajo" 
                         rows="1"
                         
                         value= "<%= locals.oldData ? oldData.duracionTrabajo : null %>"
                         >
                        <% if (locals.errors && errors.duracionTrabajo) { %>
                            <div class="error-msg"><%= errors.duracionTrabajo.msg %></div>
                          <% } %>

                    </div>
    
                     <div class="mb-3">
                        <label for="comentariosTrabajo" class="mr-3 form-label font-medium">Comentarios adicionales</label>
                        <textarea 
                        class="form-control <%= locals.errors && errors.comentariosTrabajo ? 'is-invalid' : null%>" 
                        name="comentariosTrabajo" 
                        id="comentariosTrabajo" 
                        rows="3"
                        placeholder="Agregar comentarios adicionales"><%= locals.oldData ? oldData.comentariosTrabajo : null %></textarea>
                        <% if (locals.errors && errors.comentariosTrabajo){ %>
                        <div class="error-msg"><%= errors.comentariosTrabajo.msg %></div>
                          <% } %>
                    </div>
    
                    <div class="fx justify-end align-center">
                        <label for="precioFinal" class="mr-3 form-label total-title">Monto Total</label>
                        <input 
                        type="text" 
                        class="form-control total-price <%= locals.errors && errors.precioFinal ? 'is-invalid' : null%>" 
                        name="precioFinal" 
                        id="precioFinal" 
                        rows="1"
                        value= "<%= locals.oldData ? oldData.precioFinal : null %>"
                        />
                        <% if (locals.errors && errors.precioFinal) { %>
                            <div class="error-msg"><%= errors.precioFinal.msg %></div>
                          <% } %>
                    </div>               
                    <div class="fx justify-center mt-3">
                        <button type="submit" class="primary-button">Enviar presupuesto</button>  
                    </div>
                </form>
            </div>
        </div>
            

    </main>
    
    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

