<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
      <div class="fx justify-sp-b text-right font-xlarge">
        <h2 class="m-3 font-xlarge bolder lapt-shop-title">Mi Carrito</h2>
        <button class="primary-button">
          <a href="/budget/request">Nueva Solicitud</a>
        </button>
      </div>

      <section class="cards">
        <% items.forEach(function(item){ %>
        <article class="card w-card">
          <div class="justify-center">
            <a target="_blank" href="/images/budgetRequest/<%= item.budget_response[0].budget_request.req_imgs[0].img %>">
              <img class="card-img-top" src="/images/budgetRequest/<%= item.budget_response[0].budget_request.req_imgs[0].img %>"/>
            </a>
            <p class="font-medium bolder"><%= item.budget_response[0].budget_request.tituloSolicitud %></p>
            <p class="font-medium bolder">$ <%= item.budget_response[0].precioFinal %></p>
            <p class="font-medium bolder">Profesional: <a target="_blank" href="/prof/detail/<%= item.budget_response[0].userId %>"><%= item.budget_response[0].users.userName %></a></p>
            <p class="font-medium bolder">Día: <%= dateFormat(item.dia) %></p>
            <p class="font-medium bolder">Hora: <%= item.horario %></p> 
            <p class="font-medium bolder">Método de pago: <%= item.metodoPago %></p>
            <p class="font-medium bolder">Estado: <%= item.estado %></p> 

            <div class="fx justify-sp-b">
              <form action="/budget/cart/edit/<%= item.id %>" method="POST">
                <button class="terciary-button" type="submit">
                  <a href="/budget/cart/edit/<%= item.id %>?_method=DELETE">Eliminar</a>
                </button>
              </form>
              <button class="secondary-button">
                <a href="/budget/cart/edit/<%= item.id %>">Editar</a>
              </button>
              <button class="primary-button">
                <a href="/budget/detail/<%= item.resId %>">Ver detalle </a>
              </button>
            </div>
          </div>
        </article>
        <% }) %>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
