<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="imagen-fondo-mobile justify-center">
        <div class = "fx justify-sp-b text-right font-xlarge">    
            <h2 class="m-3 font-xlarge bolder lapt-shop-title">Estás contratando...</h2>
            <button class="primary-button">
              <a href="/budget/request">Nueva Solicitud</a>
            </button>
        </div>     
        
        <div class="shopc-lap">
            <div class="fx justify-center lap-w-1">
                <div class="card" style="width: 18rem;">
                    <img src="/images/budgetRequest/<%= cartDetail.budget_request.req_imgs[0].img %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= cartDetail.budget_request.tituloSolicitud %></h5>
                        <p class="card-text"><%= cartDetail.budget_request.detalleSolicitud %></p>                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= cartDetail.users.name %> <%= cartDetail.users.lastName %></li>
                        <li class="list-group-item">$ <%= cartDetail.precioFinal %></li>
                        <li class="list-group-item"><%= cartDetail.duracionTrabajo %> hs</li>
                    </ul>
                    <div class="card-body">
                        <a href="/budget/detail/<%= cartDetail.id %>" class="secondary-button">Ver detalle</a>
                    </div>
                </div>

                <form action="/budget/cart/<%= cartDetail.id %>" method="POST"> 
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Agendá el turno</h5>                   
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> 
                                <label for="date" class="mr-3 font-medium mb-3">Día a realizar el trabajo</label>
                                <input type="date" name="diaTurno" id="diaTurno" class="form-control" placeholder="">
                            </li>
                            <li class="list-group-item">
                                <label for="horario" class="mr-3 font-medium mb-3">Horario</label>
                                <input type="time" min="08:00" max="20:00" name="horario" id="horario" class="form-control" aria-label=".form-select-lg example">
                            </li>
                            <li class="list-group-item">
                                <label for="metodoPago" class="mr-3 font-medium mb-3">Método de pago</label>
                                <select name="metodoPago" id="metodoPago" class="form-control" aria-label=".form-select-lg example">
                                    <option selected>Elegí una opción</option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="debito">Débito</option>
                                    <option value="credito">Tarjeta de crédito</option>
                                    <option value="mercadoPago">Mercado Pago</option>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <p class="mr-3 font-medium">Dirección</p>
                                <p class="form-control"><%= cartDetail.budget_request.ubicacion %></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mr-3 font-medium">Teléfono de contacto</p>
                                <p class="form-control"><%= cartDetail.users.phone %></p>
                            </li>                            
                        </ul>
                        <div class="card-body">
                            <button type="reset" class="secondary-button">Cancelar</button> 
                            <button type="submit" class="primary-button">Agendar</button>
                        </div>
                    </div>
                </form>

                
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>