<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile fx justify-center">
        <div class="fx justify-center"></div>
             <div class="grey-opacity profile-box-edit desk-size">
                <div>
                    <h3 class="text-center">Hola <%= user.name %> <%= user.lastName %>  </h3>
                    <p class="font-mediun text-center mb-3-login">Actualizá tus datos</p>
                </div>
                <form action="/user/update/<%= user.userId %>?_method=PUT"  method="POST" enctype="multipart/form-data">
                    
                    <div class="fx map-column">
                        <div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="name">Nombre</label>
                                    <input 
                                        type="text" 
                                        name= "name" 
                                        value="<%= user.name %>"     
                                        class="form-control <%= 
                                            locals.errors && errors.name 
                                            ? 'is-invalid' 
                                            : null 
                                        %>"
                                        placeholder="Nombre"
                                        value="<%= locals.oldData ? oldData.name : null %>" 
                                    >
                                    <% if (locals.errors && errors.name) { %>
                                        <div class= "error-msg">
                                            <%= errors.name.msg %>               
                                        </div>
                                    <% } %>                                    
                                </div>
                                <div class="col">
                                    <label for="lastName">Apellido</label>
                                    <input 
                                        type="text" 
                                        name="lastName" 
                                        value="<%= user.lastName %>"
                                        class="form-control <%= 
                                            locals.errors && errors.lastName 
                                            ? 'is-invalid' 
                                            : null 
                                        %>" 
                                        value="<%= locals.oldData ? oldData.lastName : null %>"
                                    >
                                    <% if (locals.errors && errors.lastName) { %>
                                        <div class= "error-msg">
                                            <%= errors.lastName.msg %>               
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-auto mt-3">
                                
                                <label for="userName">Nombre de Usuario</label>
                                <div class="input-group">
                                    <div class="input-group-text">@</div>
                                    <input 
                                        type="text" 
                                        name= "userName" 
                                        value="<%= user.userName %>"
                                        class="form-control <%= 
                                            locals.errors && errors.userName 
                                            ? 'is-invalid' 
                                            : null 
                                        %>" 
                                        placeholder="Nombre de usuario"
                                        value="<%= locals.oldData ? oldData.userName : null %>"
                                    >                                 
                                </div>
                                <% if (locals.errors && errors.userName) { %>
                                    <div class= "error-msg">
                                        <%= errors.userName.msg %>               
                                    </div>
                                <% } %>
                            </div>
                            <div class="col mt-3 mb-3">
                                <label for="email">Email</label>
                                <input 
                                    type="email" 
                                    name= "email" 
                                    value="<%= user.email %>"
                                    class="form-control <%= 
                                        locals.errors && errors.email 
                                        ? 'is-invalid' 
                                        : null 
                                    %>"
                                    placeholder="E-mail"
                                    value="<%= locals.oldData ? oldData.email : null %>"
                                >
                                <% if (locals.errors && errors.email) { %>
                                    <div class= "error-msg">
                                        <%= errors.email.msg %>               
                                    </div>
                                <% } %>
                            </div>
                             <div class="col mb-3">
                                <label for="password">Contraseña</label>
                                <input 
                                    type="password" 
                                    name= "password" 
                                    class="form-control <%= 
                                        locals.errors && errors.password 
                                        ? 'is-invalid' 
                                        : null 
                                    %>" 
                                    placeholder="Contraseña"
                                >
                                <% if (locals.errors && errors.password) { %>
                                    <div class= "error-msg">
                                        <%= errors.password.msg %>               
                                    </div>
                                <% } %>
                            </div>
                             <div class="col mb-3">
                                <label for="password">Repetir Contraseña</label>
                                <input 
                                    type="password" 
                                    name= "password" 
                                    class="form-control <%= 
                                        locals.errors && errors.password 
                                        ? 'is-invalid' 
                                        : null 
                                    %>" 
                                    placeholder="Repetir Contraseña"
                                >
                                <% if (locals.errors && errors.password) { %>
                                    <div class= "error-msg">
                                        <%= errors.password.msg %>               
                                    </div>
                                <% } %>
                            </div>
                            <div class="col mt-3">
                                <label for="phone">Teléfono</label>
                                <input 
                                    type="text" 
                                    name= "phone" 
                                    value="<%= user.phone %>"
                                    class="form-control <%= 
                                        locals.errors && errors.phone 
                                        ? 'is-invalid' 
                                        : null 
                                    %>" 
                                    placeholder="Teléfono"
                                    value="<%= locals.oldData ? oldData.phone : null %>"
                                >
                                <% if (locals.errors && errors.phone) { %>
                                    <div class= "error-msg">
                                        <%= errors.phone.msg %>               
                                    </div>
                                <% } %>
                            </div>
        
                            <div class="col-12 mt-3 mb-3">
                                <label for="Dirección" class="form-label">Dirección</label>
                                <input 
                                    type="text" 
                                    name= "address"
                                    value="<%= user.address %>" 
                                    class="form-control <%= 
                                        locals.errors && errors.address 
                                        ? 'is-invalid' 
                                        : null 
                                    %>" 
                                    placeholder="Dirección"
                                    value="<%= locals.oldData ? oldData.address : null %>"
                                >
                                <% if (locals.errors && errors.address) { %>
                                    <div class= "error-msg">
                                        <%= errors.address.msg %>               
                                    </div>
                                <% } %>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-7">
                                    <label for="city">Ciudad</label>
                                    <input 
                                        type="text" 
                                        name= "city" 
                                        value="<%= user.city %>"
                                        class="form-control <%= 
                                            locals.errors && errors.city 
                                            ? 'is-invalid' 
                                            : null 
                                        %>" 
                                        placeholder="Ciudad"
                                        value="<%= locals.oldData ? oldData.city : null %>"
                                    >
                                    <% if (locals.errors && errors.city) { %>
                                        <div class= "error-msg">
                                            <%= errors.city.msg %>               
                                        </div>
                                    <% } %>
                                </div>
                                
                                <div class="col-sm">
                                    <label for="state">Provincia</label>
                                    <input 
                                        type="text" 
                                        name= "state" 
                                        value="<%= user.state %>"
                                        class="form-control <%=
                                            locals.errors && errors.state
                                            ? 'is-invalid'
                                            : null 
                                        %>"
                                        placeholder="Provincia"
                                        value="<%= locals.oldData ? oldData.state : null %>"
                                    >
                                    <% if (locals.errors && errors.state) { %>
                                        <div class= "error-msg">
                                            <%= errors.state.msg %>               
                                        </div>
                                    <% } %>
                                </div>
                                <div class="col-sm">
                                    <label for="zipCode">Código Postal</label>
                                    <input 
                                        type="text" 
                                        name= "zipCode"
                                         value="<%= user.zipCode %>" 
                                        class="form-control <%= 
                                            locals.errors && errors.zipCode 
                                            ? "is-invalid form-control" 
                                            : null 
                                        %>"
                                        placeholder="Código postal" 
                                        aria-label="Código postal"
                                        value="<%= locals.oldData ? oldData.zipCode : null %>"
                                    >
                                    <% if (locals.errors && errors.zipCode) { %>
                                        <div class= "error-msg">
                                            <%= errors.zipCode.msg %>               
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="font-mediun mb-5-login mt-3">
                                <label for="avatar" class="form-label"><h4 class="font-medium mb-0" >Foto de perfil</h4></label>
                                <div class="mb-3 fx align-center">                   
                                    <input 
                                        class="form-control" 
                                        type="file" 
                                        name= "avatar"
                                    >                                    
                                </div>  
                                <% if (locals.errors && errors.avatar) { %>
                                <div class= "error-msg">
                                    <%= errors.avatar.msg %>               
                                </div>
                                <% } %>                          
                            </div>                         
                        </div>           
                    </div>
                    <div class="fx justify-center mt-3">
                        <button class="primary-button" type="submit">
                            Registrarse
                        </button>  
                    </div>        
                </form>

            </div> 
        </div>    
    </main>

   <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>   
</body>

</html>