<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  
  <body>
    <%- include('./partials/header') %>
    
    <main class="imagen-fondo-mobile justify-center">
      <h2 class="m-3 font-xlarge bolder">Bandeja de Entrada</h2>
    
      <section class="cards">
        <% profBudgets.forEach(function(budgetToShow){ %>
          <article class="card w-card">
            <div class="justify-center">
              <p class="font-medium bolder"><%= budgetToShow.tituloSolicitud %></p>
              <a target="_blank" href="/images/budgetRequest/<%= budgetToShow.imgReferencia[0] %>">
                <img class="w-60" src="/images/budgetRequest/<%= budgetToShow.imgReferencia[0] %>">
              </a>
              <ul >
                <li><i class="fas fa-info-circle"></i><p class="font-medium"><%= budgetToShow.detalleSolicitud %></p></li>
                <li><i class="fas fa-calendar-day"></i><p class="font-medium"><%= budgetToShow.urgenciaTrabajo %></p></li>
                <li><i class="fas fa-map-marker-alt"></i><p class="font-medium"><%= budgetToShow.ubicacion %></p></li>
              </ul>
              <button class="primary-button">
                <a href="/budget/response/<%= budgetToShow.reqId %>">Armar presupuesto</a>
              </button>
            </div>
          </article>
        <% }) %>
      </section>

  </main>

  <%- include('./partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
</body>

</html>