<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
      <div class="fx justify-sp-b text-right font-xlarge">
        <h2 class="m-3 font-xlarge bolder lapt-shop-title">
          Bandeja de Entrada
        </h2>
        <button class="primary-button">
          <a href="/budget/request">Nueva Solicitud</a>
        </button>
      </div>
      <section class="row row-cols-1 row-cols-md-2 g-4">
        <% for (let i = 0; i < userRequest.length; i++) {%>
          <% const budgetToShow = userRequest[i] %> 
          <% const id =  "id"+(i.toString()) %>           
        
          <div class="card" style="width: 22rem">
          <h3 class="text-center bolder">Tu Pedido</h3>
          <% if (budgetToShow.img && budgetToShow.img.length > 0) { %>
          <a
            target="_blank"
            href="/images/budgetRequest/<%= budgetToShow.img[0] %> %>"
          >
            <img
              class="card-img-top"
              src="/images/budgetRequest/<%= budgetToShow.img[0] %>"
            />
          </a>
          <% } %>
          <div class="card-body">
            <h5 class="card-title text-center bolder">
              <%= budgetToShow.tituloSolicitud %>
            </h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <%= budgetToShow.detalleSolicitud %>
              </li>
            </ul>
            <h5 class="bolder text-center">
              Presupuestos Recibidos
            </h5>
            <div id="<%= id %>" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <% for (let index = 0; index < budgetToShow.responses.length; index++) {%>
                <% const response = budgetToShow.responses[index];%>                  
                
                <div class="<%=  index === 0 ? "carousel-item active": "carousel-item"  %>">                 
                  <%- include('./partials/inboxUserCards', {response}); %>  
                </div>
              <% } %>                
              </div>
              <% if (budgetToShow.responses.length > 0) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#<%= id %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#<%= id %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
               
              <% } %>
            </div>
          </div>
        </div>
          <% } %>
      </section>
    </main>

    <%- include('./partials/footer') %> 

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
