<div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="fx align-center">
        <div class="fx fx-column justify-center align-center">
        <div class="card-header bolder">Profesional </div>
            <a href="/user/detail/<%= response.userId %>" class="font-medium text-center"><%= response.users.name %> <%= response.users.lastName %></a>
        </div>
        <div class="ml-5">
             <div class="user-inbox-pic " style="background-image:url('/images/avatar/<%=response.users.avatar %>')"></div>
            
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
        <div class="fx justify-sp-b">
            <p class="font-medium bolder">Monto total</p>
            <p class="font-medium bolder">
            $ <%= response.precioFinal %>
            </p>
        </div>
        </h5>
    </div>
    <p class="card-text">
        <div class="fx justify-sp-b">
        <button class="secondary-button">
            <a href="/budget/detail/<%= response.id %>">
            Ver detalle
            </a>
        </button>
        <button class="primary-button">
            <a href="/budget/cart/<%= response.id %>"> Agregar al carrito </a>
        </button>
        </div>   
    </p>
 </div>