<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="imagen-fondo-mobile justify-center">
      <h2 class="m-3 font-xlarge bolder">Presupuestos enviados</h2>
      <section class="row row-cols-1 row-cols-md-2 g-4">
        <% responses.forEach(function(response){ %>
        <div class="card" style="width: 18rem">
          <a
            target="_blank"
            href="/images/budgetRequest/<%= response.budget_request.req_imgs[0].img %>"
          >
            <img
              class="card-img-top"
              src="/images/budgetRequest/<%= response.budget_request.req_imgs[0].img %>"
            />
          </a>

          <div class="card-body">
            <h5 class="card-title text-center">
              <%= response.budget_request.tituloSolicitud %>
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="text-center bolder card-header">Urgencia del Trabajo</li>
            <li class="list-group-item text-center">
              <%= response.budget_request.urgenciaTrabajo %>
            </li>
            <li class="text-center bolder card-header">Ubicación</li>

            <li class="list-group-item te text-center">
              <%= response.budget_request.ubicacion %>
            </li>
            <li class="text-center bolder card-header">Pedido por:</li>
            <li class="list-group-item text-center">
              <%= response.budget_request.users.name %> <%= response.budget_request.users.lastName %>
            </li>
          </ul>
          <button class="secondary-button">
            <a href="/budget/detail/<%= response.id %>" class="card-link">Ver detalle</a>
          </button>
        <% }) %> 
      </section>
    </main>

    <%- include('./partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
